
/*SKELETON LOADING*/
.skeletonItem, .skeletonSourceNameUrl {
  background: var(--hover-bg);
  border-radius: var(--radius-sm);
  position: relative;
  overflow: hidden;
}
.skeletonItem::after {
  content: "";
position: absolute;
inset: 0;
transform: translateX(-100%);

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.15),
    transparent
  );
  backdrop-filter: blur(30px);
box-shadow: 0 0 15px solid #0000001b;
animation: shimer 1s ease infinite;
}
@keyframes shimer {
  100% {
    transform: translateX(100%);
  }
}
.skeletonSource {
  padding: var(--space-sm) var(--space-xl);
}
.skeletonTime {
    padding: var(--space-sm) var(--space-lg);
}
.skeletonMovieCardContent {
 margin: var(--space-sm);
}
.skeletonHeadline, .skeletonCardTitle {
    margin-bottom: var(--space-md);
padding: var(--space-lg) var(--space-sm);
}
p.skeletonCardDesc {
  margin: 0;
}
.skeletonSummary, .skeletonCardDesc {
      margin-bottom: var(--space-md);
padding: calc(var(--space-xl) * 2) var(--space-sm);
}
.skeletonSourceUrl {
  display: block;
  margin-top: var(--space-sm);
  max-width: fit-content;
  color: var(--primary);
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
.skeletonSourceNameUrl {
  position: relative;
  padding: var(--space-xs) calc(var(--space-xl) * 2);
}
.skeletonSourceUrl:hover {
  background-color: var(--bg-primary);
  transform: translateX(4px);
}
